body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: #eef2f3;
}

.header {
    width: 100%;
    padding: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyCqoXFmAGM2he50PfSvYzUIZx1cN5YfA0Lw&s);
    color: #000000;
    text-align: center;
}

.tabs {
    display: flex;
    gap: 5px;
    padding: 10px;
    background: #dcdcdc;
    border-bottom: 2px solid #00e6e6;
}

.profile-img {
    width: 225px;
    height: auto;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 10px;
}

.tab {
    padding: 12px 25px;
    background: #ededed;
    border-radius: 10px 10px 0 0;
    border: 1px solid #b9b9b9;
    border-bottom: none;
    cursor: pointer;
    transition: .2s ease;
    font-weight: 500;
}

.tab:hover {
    background: #fff;
}

.tab.active {
    background: #c9fff8;
    font-weight: bold;
}

.content {
    display: none;
    background: white;
    border: 1px solid #ccc;
    padding: 30px;
}

.content.active {
    display: block;
}

.card {
    background: #ffffff;
    padding: 25px;
    margin: 20px 0;
    border-radius: 15px;
    display: flex;
    gap: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.08);
}

.card.horizontal img {
    width: 240px;
    height: auto;
    border-radius: 10px;
}

.text-block {
    font-size: 1.2rem;
    line-height: 1.6;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.skill-card {
    width: 260px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    border: 1px solid #bbb;
    text-align: center;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.07);
}

.skill-img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

h3 {
    margin: 10px 0 5px 0;
}